<div class="form__container">
<h2> Insert a new Fragance </h2>
<hr>
<br>
<form action="" method="post">
    Title: <input type="text" id="user__input"  name="title"> <br>
    Brand: <input type="text" id="user__input"  name="code"> <br>
    Category: <input type="text" id="user__input"  name="category"> <br>
    Description: <input type="text" id="user__input"  name="description"> <br>
    Size: <input type="number" id="user__input"  name="size"> <br>
    Price: <input type="number" id="user__input"  name="price"> <br>
    Photo: <input type="text" id="user__input"  name="thumbnail"> <br>
    Stock: <input type="number" id="user__input"  name="stock"> <br>
    <br>
    <input class="product__button" type="submit" value=" Create Product ">

</form>
</div>