<h2> Fragance created!</h2>
<br>
<div>
   <div id="messages__container2">
    <h2> {{ product.title }} </h2>
    <br>
    <h3> {{ product.brand }} </h3>

    <div class="products__container">
    <img width="50" src="{{ product.thumbnail }}">
    </div>
    <h3> {{ product.description }} </h3>    

</div>